<template>
  <div class="container">
    <slot />
  </div>
</template>

<script>
export default {
  name: "BaseContainer",
};
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  padding: 0 64px;

  @media screen and (max-width: 1023px) {
    padding: 0 24px;
  }
}
</style>
