<template>
  <a class="logo" href="#" @click.prevent>colors</a>
</template>

<script>
export default {
  name: "LogoComponent",
};
</script>

<style lang="scss" scoped>
.logo {
  position: relative;
  font-family: "TTHoves", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  color: #1f2020;
  text-decoration: none;
  padding-right: 10px;
  margin-right: 25px;

  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }

  &:after {
    position: absolute;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1f2020;
    top: 2px;
    right: 0;
  }
}
</style>
