<template>
  <div :class="{ 'overlay--open': isModal }" class="overlay" @click="onClose">
    <slot />
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "OverlayComponent",
  props: {
    isModal: {
      type: Boolean,
      required: true,
    },
  },
  methods: {
    ...mapActions("cart", ["updateCart"]),
    onClose() {
      this.$emit("onClose");
      this.updateCart();
    },
  },
};
</script>

<style lang="scss" scoped>
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000000, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: ease all 0.3s;
  z-index: 99;

  &--open {
    opacity: 1;
    visibility: visible;
  }
}
</style>
