<template>
  <div class="cart-item">
    <div
      :class="{ 'cart-item__content--deleted': item.inRemove }"
      class="cart-item__content"
    >
      <div class="cart-item__img">
        <img :src="item.img" alt="" />
      </div>
      <div class="cart-item__info">
        <h3>{{ item.title }}</h3>
        <p>{{ item.price }} ₽</p>
      </div>
      <div class="cart-item__counter">
        <button
          :disabled="isMinusDisabled"
          class="cart-item__btn"
          type="button"
          @click="onMinusItem"
        >
          <svg
            fill="none"
            height="16"
            viewBox="0 0 16 16"
            width="16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.3335 8H12.6668"
              stroke="black"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.4"
            />
          </svg>
        </button>
        <i>{{ item.count }}</i>
        <button class="cart-item__btn" type="button" @click="onPlusItem">
          <svg
            fill="none"
            height="16"
            viewBox="0 0 16 16"
            width="16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 3.33325V12.6666"
              stroke="black"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.4"
            />
            <path
              d="M3.3335 8H12.6668"
              stroke="black"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.4"
            />
          </svg>
        </button>
      </div>
    </div>
    <button class="cart-item__delete" @click="onRemoveToggle">
      <svg
        v-if="!item.inRemove"
        class="cart-item__delete--cross"
        fill="none"
        height="24"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 6L6 18"
          stroke="#1F2020"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.4"
        />
        <path
          d="M6 6L18 18"
          stroke="#1F2020"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.4"
        />
      </svg>
      <svg
        v-else
        class="cart-item__delete--repeat"
        fill="none"
        height="24"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17 1L21 5L17 9"
          stroke="black"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.4"
        />
        <path
          d="M3 11V9C3 7.93913 3.42143 6.92172 4.17157 6.17157C4.92172 5.42143 5.93913 5 7 5H21"
          stroke="black"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.4"
        />
        <path
          d="M7 23L3 19L7 15"
          stroke="black"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.4"
        />
        <path
          d="M21 13V15C21 16.0609 20.5786 17.0783 19.8284 17.8284C19.0783 18.5786 18.0609 19 17 19H3"
          stroke="black"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.4"
        />
      </svg>
    </button>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "CartItem",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isMinusDisabled() {
      return this.item.count === 1;
    },
  },
  methods: {
    ...mapActions("cart", ["plusItem", "minusItem", "removeToggle"]),
    onPlusItem() {
      this.plusItem(this.item.id);
    },
    onMinusItem() {
      this.minusItem(this.item.id);
    },
    onRemoveToggle() {
      this.removeToggle(this.item.id);
    },
  },
};
</script>

<style lang="scss" scoped>
.cart-item {
  display: flex;
  align-items: center;
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid rgba(#000000, 0.1);

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  &__content {
    display: flex;
    align-items: center;
    transition: ease all 0.3s;

    &--deleted {
      opacity: 0.4;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__img {
    max-width: 96px;
    width: 100%;
    height: 96px;
    margin-right: 8px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media screen and (max-width: 767px) {
      height: auto;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__info {
    max-width: 200px;

    h3 {
      font-size: 16px;
      line-height: 17.92px;
      font-weight: 300;
      letter-spacing: 0.02em;
      margin-bottom: 16px;
    }

    p {
      font-size: 16px;
      line-height: 16px;
      font-weight: 600;
    }

    @media screen and (max-width: 767px) {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  &__counter {
    margin-left: auto;
    display: flex;
    align-items: center;

    i {
      font-style: normal;
      margin: 0 20px;
    }

    @media screen and (max-width: 767px) {
      margin-left: 0;
      margin-bottom: 20px;
    }
  }

  &__btn {
    cursor: pointer;
    width: 40px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    transition: ease all 0.3s;

    &:hover {
      background-color: #7bb899;
    }

    &:active {
      background-color: rgba(#7bb899, 0.5);
    }

    &:disabled {
      cursor: unset;
      background-color: #f2f2f2;
      opacity: 0.5;
    }
  }

  &__delete {
    cursor: pointer;
    margin-left: 37px;
    background: none;
    border: none;
    width: 24px;
    height: 24px;

    &--cross {
      transition: ease all 0.3s;
      opacity: 0.2;

      &:hover {
        opacity: 0.5;
      }

      &:active {
        opacity: 1;
      }
    }

    &--repeat {
      transition: ease all 0.3s;

      &:hover {
        opacity: 0.5;
      }

      &:active {
        opacity: 0.2;
      }
    }

    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
}
</style>
