<template>
  <div :class="{ open: isCart }" class="cart">
    <div class="cart__header">
      <h2 class="cart__caption">
        Корзина<span v-show="!getCartList.length"> пуста</span>
      </h2>
      <button class="cart__close" @click="onClose">
        <svg
          fill="none"
          height="24"
          viewBox="0 0 24 24"
          width="24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18 6L6 18"
            stroke="#1F2020"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.4"
          />
          <path
            d="M6 6L18 18"
            stroke="#1F2020"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.4"
          />
        </svg>
      </button>
    </div>
    <div v-show="getCartList.length" class="cart__top">
      <p class="cart__count">{{ getTotalItems }} товара</p>
      <a class="cart__clear" href="#" @click.prevent="onClearCart"
        >очистить список</a
      >
    </div>
    <div v-show="getCartList.length" class="cart__list">
      <CartItem v-for="item in getCartList" :key="item.id" :item="item" />
    </div>
    <div v-show="getCartList.length" class="cart__bottom">
      <p class="cart__total">
        <span>Итого</span>
        <span>{{ parsedTotal }}₽</span>
      </p>
      <button :disabled="toOrder" class="cart__order">Оформить заказ</button>
    </div>
  </div>
</template>

<script>
import CartItem from "@/blocks/CartItem";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "CartBlock",
  components: {
    CartItem,
  },
  props: {
    isCart: {
      type: Boolean,
      required: true,
    },
  },
  data: () => ({
    total: 14000,
  }),
  computed: {
    ...mapGetters("cart", ["getTotalItems", "getTotalPrice", "getCartList"]),
    parsedTotal() {
      return this.getTotalPrice
        .toString()
        .replace(/(\d{1,3}(?=(?:\d\d\d)+(?!\d)))/g, "$1" + " ");
    },
    toOrder() {
      const findItem = this.getCartList.find((item) => item.inRemove === false);
      return !findItem;
    },
  },
  methods: {
    ...mapActions("cart", ["clearCart", "updateCart"]),
    onClearCart() {
      if (window.confirm("Вы точно хотите очистить корзину?")) {
        this.clearCart();
      }
    },
    onClose() {
      this.$emit("onClose");
      this.updateCart();
    },
  },
};
</script>

<style lang="scss" scoped>
.cart {
  overflow-y: overlay;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #ffffff;
  max-width: 600px;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  transition: ease all 0.3s;

  &.open {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }

  @media screen and (max-width: 767px) {
    max-width: 100%;
    padding: 24px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 80px;

    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  &__caption {
    margin-right: 15px;
    font-size: 30px;
    line-height: 26.4px;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: #1f2020;
  }

  &__close {
    cursor: pointer;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(#000000, 0.1);
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }

  &__top {
    display: flex;
  }

  &__count {
    margin-right: 15px;
    font-size: 14px;
    line-height: 15.68px;
    font-weight: 400;
    color: #1f2020;
  }

  &__clear {
    margin-left: auto;
    margin-right: 15px;
    font-size: 14px;
    line-height: 15.68px;
    font-weight: 300;
    color: #1f2020;
    opacity: 0.4;
    text-decoration: none;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
  }

  &__total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #1f2020;

    span:last-child {
      margin-top: 6px;
      font-size: 30px;
      line-height: 30px;
      font-weight: 500;
      letter-spacing: -0.02em;
    }
  }

  &__order {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    max-width: 240px;
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #7bb899;
    font-size: 12px;
    line-height: 14.52px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #1f2020;
    transition: ease all 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.4;
    }

    &:disabled {
      cursor: unset;
      opacity: 0.2;
    }

    @media screen and (max-width: 767px) {
      max-width: 120px;
    }
  }
}
</style>
