<template>
  <ul class="filter">
    <li
      v-for="item in filterList"
      :key="item.filterProperty"
      :class="{ active: filter.includes(item.filterProperty) }"
      @click="onFilter(item.filterProperty)"
    >
      <span></span>
      {{ item.name }}
    </li>
  </ul>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "FilterBlock",
  props: {
    filter: {
      type: Array,
    },
  },
  data: () => ({
    filterList: [
      { name: "Новинки", filterProperty: "new" },
      { name: "Есть в наличии", filterProperty: "inStock" },
      { name: "Контрактные", filterProperty: "isContact" },
      { name: "Эксклюзивные", filterProperty: "exclusive" },
      { name: "Распродажа", filterProperty: "sale" },
    ],
  }),

  methods: {
    ...mapActions("products", ["selectFilter"]),
    onFilter(data) {
      this.selectFilter(data);
    },
  },
};
</script>

<style lang="scss">
.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #1f2020;
    white-space: nowrap;

    &:last-child {
      margin: 0;
    }

    span {
      position: relative;
      width: 36px;
      height: 22px;
      background-color: #f2f2f2;
      margin-right: 12px;
      border-radius: 40px;
      transition: ease all 0.3s;

      &:before {
        display: block;
        position: absolute;
        top: 7px;
        left: 7px;
        content: "";
        width: 8px;
        height: 8px;
        background-color: #1f2020;
        border-radius: 50%;
        transition: ease all 0.3s;
      }
    }

    &.active {
      span {
        background-color: #7bb899;

        &:before {
          transform: translateX(15px);
        }
      }
    }
  }
}
</style>
