<template>
  <footer class="footer"></footer>
</template>

<script>
export default {
  name: "FooterBlock",
};
</script>

<style lang="scss">
.footer {
  min-height: 312px;
  background-color: #000000;

  @media screen and (max-width: 768px) {
    min-height: 200px;
  }
}
</style>
