<template>
  <header class="header">
    <ContainerComponent>
      <div class="header__wrapper">
        <div class="header__burger" @click="$emit('onBurgerOpen')">
          <span></span><span></span><span></span>
        </div>
        <LogoComponent />
        <div class="header__menu">
          <nav class="header__nav">
            <a href="#" @click.prevent>Продукты</a>
            <a href="#" @click.prevent>Цвета</a>
            <a href="#" @click.prevent>Вдохновение</a>
            <a href="#" @click.prevent>Советы</a>
            <a href="#" @click.prevent>Найти магазин</a>
          </nav>
          <div class="header__number">
            <a href="tel:+74952217769">+7 (495) 221-77-69</a>
            <a href="#">Заказать звонок</a>
          </div>
        </div>
        <div class="header__btns">
          <a href="#" @click.prevent>
            <svg
              fill="none"
              height="20"
              viewBox="0 0 20 20"
              width="20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z"
                stroke="#1F2020"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.4"
              />
              <path
                d="M17.5 17.5L13.875 13.875"
                stroke="#1F2020"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.4"
              />
            </svg>
          </a>
          <a href="#" @click.prevent>
            <svg
              fill="none"
              height="22"
              viewBox="0 0 22 22"
              width="22"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_8_30)">
                <circle
                  cx="11"
                  cy="23"
                  r="8.4"
                  stroke="black"
                  stroke-width="1.2"
                />
                <circle
                  cx="11"
                  cy="7"
                  r="3.4"
                  stroke="black"
                  stroke-width="1.2"
                />
              </g>
              <defs>
                <clipPath id="clip0_8_30">
                  <rect fill="white" height="22" width="22" />
                </clipPath>
              </defs>
            </svg>
          </a>
          <a href="#" @click.prevent>
            <svg
              fill="none"
              height="22"
              viewBox="0 0 22 22"
              width="22"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.0009 19C10.745 19.0001 10.4978 18.9074 10.3052 18.739C9.57966 18.1047 8.87674 17.5067 8.25817 16.9802C6.65691 15.7048 5.16127 14.3023 3.78581 12.7865C2.67695 11.5918 2.0423 10.0341 2.00085 8.4053C1.97621 6.99164 2.48598 5.62067 3.42845 4.56595C3.88583 4.0681 4.44256 3.67154 5.06275 3.40184C5.68294 3.13214 6.35283 2.9953 7.0292 3.00012C8.05552 2.99541 9.053 3.3392 9.8581 3.97514C10.2942 4.31625 10.6791 4.71815 11.0009 5.16854C11.3231 4.71841 11.7082 4.31682 12.1446 3.97605C12.9489 3.34036 13.9453 2.99628 14.9708 3.00012C15.6472 2.9953 16.3171 3.13214 16.9372 3.40184C17.5574 3.67154 18.1142 4.0681 18.5715 4.56595C19.514 5.62067 20.0238 6.99164 19.9991 8.4053C19.9585 10.0337 19.3249 11.5915 18.2169 12.7865C16.8425 14.3013 15.3481 15.7028 13.7482 16.9775C13.1287 17.5049 12.4267 18.1029 11.6975 18.7399C11.5045 18.9081 11.257 19.0005 11.0009 19V19Z"
                stroke="black"
                stroke-width="1.2"
              />
            </svg>
          </a>
          <a
            class="header__cart"
            href="#"
            @click.prevent="$emit('onCartOpen')"
            >{{ getTotalItems }}</a
          >
        </div>
      </div>
    </ContainerComponent>
  </header>
</template>

<script>
import ContainerComponent from "@/components/ContainerComponent";
import LogoComponent from "@/components/LogoComponent";
import { mapGetters } from "vuex";

export default {
  name: "HeaderBlock",
  props: {
    isBurger: {
      type: Boolean,
      required: true,
    },
    isModal: {
      type: Boolean,
      required: true,
    },
  },
  components: {
    ContainerComponent,
    LogoComponent,
  },
  computed: {
    ...mapGetters("cart", ["getTotalItems"]),
  },
};
</script>

<style lang="scss">
.header {
  padding: 36px 0;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-width: 767px) {
      border-bottom: 1px solid rgba(#1f2020, 0.06);
      padding-bottom: 21px;
    }
  }

  &__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 14px;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #000000;
    }

    @media screen and (max-width: 767px) {
      display: flex;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    max-width: 1215px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    row-gap: 10px;
    flex-wrap: wrap;

    a {
      margin-right: 24px;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      color: #1f2020;
      text-decoration: none;

      @media screen and (max-width: 1023px) {
        margin-right: 15px;
      }
    }
  }

  &__number {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a:first-child {
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      color: #1f2020;
      text-decoration: none;
      margin-bottom: 2px;
      white-space: nowrap;
    }

    a:last-child {
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      color: rgba(#1f2020, 0.3);
      text-decoration: none;
    }
  }

  &__btns {
    margin-left: 25px;
    display: flex;

    @media screen and (max-width: 767px) {
      margin: 0;

      a {
        display: none;

        &.header__cart {
          display: flex;
        }
      }
    }

    a {
      margin-right: 25px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #7bb899;
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 500;
    text-decoration: none;
    color: #1f2020;
  }

  @media screen and (max-width: 767px) {
    padding: 21px 0 0;
  }
}
</style>
