<template>
  <header :class="{ open: isBurger }" class="header-mobile" @click.stop>
    <div class="header-mobile__header">
      <h2 class="header-mobile__caption">Меню</h2>
      <button class="header-mobile__close" @click="$emit('onClose')">
        <svg
          fill="none"
          height="24"
          viewBox="0 0 24 24"
          width="24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18 6L6 18"
            stroke="#1F2020"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.4"
          />
          <path
            d="M6 6L18 18"
            stroke="#1F2020"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.4"
          />
        </svg>
      </button>
    </div>
    <div class="header-mobile__menu">
      <nav class="header-mobile__nav">
        <a href="#" @click.prevent>Продукты</a>
        <a href="#" @click.prevent>Цвета</a>
        <a href="#" @click.prevent>Вдохновение</a>
        <a href="#" @click.prevent>Советы</a>
        <a href="#" @click.prevent>Найти магазин</a>
      </nav>
      <div class="header-mobile__number">
        <a href="tel:+74952217769">+7 (495) 221-77-69</a>
        <a href="#">Заказать звонок</a>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "HeaderMobile",
  props: {
    isBurger: {
      type: Boolean,
    },
  },
};
</script>

<style lang="scss" scoped>
.header-mobile {
  display: none;
  padding: 24px;

  @media screen and (max-width: 767px) {
    display: flex;
    position: fixed;
    overflow-y: overlay;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 9999;
    transition: ease all 0.3s;
    transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;

    &.open {
      transform: translateX(0);
      visibility: visible;
      opacity: 1;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-bottom: 40px;
  }

  &__caption {
    margin-right: 15px;
    font-size: 30px;
    line-height: 26.4px;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: #1f2020;
  }

  &__close {
    cursor: pointer;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(#000000, 0.1);
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 30px;

    a {
      margin-right: 24px;
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      color: #1f2020;
      text-decoration: none;

      @media screen and (max-width: 1023px) {
        margin-right: 15px;
      }
    }
  }

  &__number {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a:first-child {
      font-size: 20px;
      line-height: 20px;
      font-weight: 500;
      color: #1f2020;
      text-decoration: none;
      margin-bottom: 2px;
      white-space: nowrap;
    }

    a:last-child {
      font-size: 16px;
      line-height: 16px;
      font-weight: 400;
      color: rgba(#1f2020, 0.3);
      text-decoration: none;
    }
  }
}
</style>
