<script>
import { mapActions } from "vuex";

export default {
  name: "ProductsItem",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  methods: {
    ...mapActions("cart", ["addItem"]),
    onAddItem() {
      this.addItem(this.item);
    },
  },
};
</script>

<template>
  <div class="products-item">
    <div
      :class="{ 'products-item__img--full': item.img.includes('.jpg') }"
      class="products-item__img"
    >
      <img :src="item.img" alt="" />
    </div>
    <h3 class="products-item__title">{{ item.title }}</h3>
    <div class="products-item__bottom">
      <p class="products-item__price">{{ item.price }} ₽</p>
      <button class="products-item__add" @click="onAddItem">
        <svg
          fill="none"
          height="20"
          viewBox="0 0 20 20"
          width="20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 4.16663V15.8333"
            stroke="#1F2020"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          />
          <path
            d="M4.16699 10H15.8337"
            stroke="#1F2020"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          />
        </svg>
      </button>
    </div>
  </div>
</template>

<style lang="scss">
.products-item {
  max-width: 278px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(#000000, 0.1);

  @media screen and (max-width: 479px) {
    max-width: 156px;
  }

  &__img {
    margin-bottom: 16px;
    max-width: 100%;
    height: 278px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 200px;
      max-height: 200px;
    }

    @media screen and (max-width: 479px) {
      height: 156px;

      img {
        max-width: 112px;
        max-height: 112px;
      }
    }
  }

  &__img--full {
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 17.92px;
    font-weight: 300;
    letter-spacing: 0.02em;

    @media screen and (max-width: 479px) {
      margin-bottom: 20px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__price {
    margin-right: auto;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
  }

  &__add {
    cursor: pointer;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    width: 80px;
    height: 32px;
    background-color: #f2f2f2;
    opacity: 0;
    transition: ease all 0.3s;

    @media screen and (max-width: 767px) {
      visibility: visible;
      opacity: 1;
      width: 40px;
      height: 24px;
    }

    &:hover {
      background-color: #7bb899;
    }

    &:active {
      background-color: rgba(#7bb899, 0.5);
    }
  }

  &:hover {
    .products-item__add {
      visibility: visible;
      opacity: 1;
    }
  }
}
</style>
