<template>
  <VueperSlides
    :breakpoints="breakpoints"
    :infinite="false"
    :touchable="false"
    class="banner"
    disable-arrows-on-edges
    fixed-height="560px"
  >
    <VueperSlide
      v-for="(slide, i) in slides"
      :key="i"
      :content="slide.content"
      :image="slide.image"
      :title="slide.title"
    >
    </VueperSlide>
  </VueperSlides>
</template>

<script>
import { VueperSlide, VueperSlides } from "vueperslides";
import "vueperslides/dist/vueperslides.css";

export default {
  name: "SliderBlock",
  data: () => ({
    slides: [
      {
        title: "Краски",
        content:
          "Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!",
        image: require("@/assets/banner.jpg"),
      },
      {
        title: "Краски",
        content:
          "Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!",
        image: require("@/assets/banner.jpg"),
      },
      {
        title: "Краски",
        content:
          "Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!",
        image: require("@/assets/banner.jpg"),
      },
      {
        title: "Краски",
        content:
          "Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!",
        image: require("@/assets/banner.jpg"),
      },
      {
        title: "Краски",
        content:
          "Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!",
        image: require("@/assets/banner.jpg"),
      },
      {
        title: "Краски",
        content:
          "Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!",
        image: require("@/assets/banner.jpg"),
      },
    ],
    breakpoints: {
      1440: {
        fixedHeight: "420px",
      },
      1280: {
        fixedHeight: "375px",
      },
      1024: {
        fixedHeight: "300px",
      },
    },
  }),
  components: {
    VueperSlides,
    VueperSlide,
  },
};
</script>

<style lang="scss">
.banner {
  .vueperslides {
    &__arrow {
      &--prev {
        left: 23.5em;

        @media screen and (max-width: 1440px) {
          left: 16em;
        }

        @media screen and (max-width: 1280px) {
          left: 10em;
        }

        @media screen and (max-width: 1024px) {
          left: 3em;
        }
      }

      &--next {
        right: 23.5em;

        @media screen and (max-width: 1440px) {
          right: 16em;
        }

        @media screen and (max-width: 1280px) {
          right: 10em;
        }

        @media screen and (max-width: 1024px) {
          right: 3em;
        }
      }
    }

    &__bullets {
      left: 50%;
      bottom: 40px;
      right: auto;
      transform: translateX(-50%);
      padding: 13px 24px;
      background-color: rgba(#000000, 0.4);
      border-radius: 35px;
      z-index: 2;

      @media screen and (max-width: 1280px) {
        bottom: 30px;
      }

      @media screen and (max-width: 1024px) {
        bottom: 20px;
      }
    }

    &__bullet {
      margin: 0 8px 0 0;
      width: 6px;
      height: 6px;

      &:last-child {
        margin: 0;
      }

      .default {
        width: 6px;
        height: 6px;
        border-width: 0;
        background-color: rgba(#ffffff, 0.2);
      }

      &--active .default {
        border-width: 0;
        background-color: #ffffff;
      }
    }
  }

  .vueperslide {
    &__content-wrapper {
      max-width: 475px;
    }

    &__title {
      margin-bottom: 24px;
      font-size: 72px;
      line-height: 63px;
      font-weight: 400;
      color: #ffffff;

      @media screen and (max-width: 1280px) {
        font-size: 52px;
        line-height: 42px;
      }
    }

    &__content {
      font-size: 16px;
      line-height: 21px;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: #ffffff;

      @media screen and (max-width: 1280px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
</style>
