<template>
  <div class="sort">
    <div class="sort__label">
      {{ currentSort }}
      <svg
        fill="none"
        height="11"
        viewBox="0 0 10 11"
        width="10"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M5 7.5L8.4641 3L1.5359 3L5 7.5Z" fill="#202020" />
      </svg>
    </div>
    <ul :class="{ 'sort__popup--open': isPopup }" class="sort__popup">
      <li
        v-for="item in sortList"
        :key="item.sortProperty"
        :class="{ active: getSort === item.sortProperty }"
        @click.stop="onSort(item.sortProperty)"
      >
        {{ item.name }}
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "SortBlock",
  props: {
    isPopup: {
      type: Boolean,
      required: true,
    },
  },
  data: () => ({
    sortList: [
      { name: "Сначала дорогие", sortProperty: "price" },
      { name: "Сначала недорогие", sortProperty: "-price" },
    ],
  }),
  computed: {
    ...mapGetters("products", ["getSort"]),
    currentSort() {
      const findSort = this.sortList.find(
        (item) => item.sortProperty === this.getSort
      );
      return findSort.name;
    },
  },
  methods: {
    ...mapActions("products", ["selectSort"]),
    onSort(data) {
      this.selectSort(data);
      this.$emit("onClose");
    },
  },
};
</script>

<style lang="scss" scoped>
.sort {
  position: relative;

  &__label {
    cursor: pointer;
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }

  &__popup {
    list-style: none;
    position: absolute;
    background-color: #ffffff;
    width: 280px;
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    transition: ease all 0.3s;

    li {
      cursor: pointer;
      padding: 0 24px;
      height: 48px;
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 14.52px;
      font-weight: 500;
      color: #1f2020;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      transition: ease all 0.3s;

      &.active {
        background-color: #7bb899;
      }
    }

    &--open {
      visibility: visible;
      opacity: 1;
    }
  }
}
</style>
