<script>
import HeaderBlock from "@/blocks/HeaderBlock";
import HeaderMobile from "@/blocks/HeaderMobile";
import SliderBlock from "@/blocks/SliderBlock";
import ContainerComponent from "@/components/ContainerComponent";
import FilterBlock from "@/blocks/FilterBlock";
import ProductsItem from "@/blocks/ProductsItem";
import FooterBlock from "@/blocks/FooterBlock";
import OverlayComponent from "@/components/OverlayComponent";
import CartBlock from "@/blocks/CartBlock";
import SortBlock from "@/blocks/SortBlock";

import { mapGetters, mapActions } from "vuex";

export default {
  name: "App",
  data: () => ({
    isPopup: false,
    isModal: false,
    isCart: false,
    isBurger: false,
    isFilter: false,
  }),
  components: {
    HeaderBlock,
    HeaderMobile,
    SliderBlock,
    ContainerComponent,
    FilterBlock,
    ProductsItem,
    FooterBlock,
    OverlayComponent,
    CartBlock,
    SortBlock,
  },
  methods: {
    ...mapActions("products", ["fetchPizza"]),
    onClose() {
      this.isModal = false;
      this.isCart = false;
      this.isBurger = false;
      this.isPopup = false;
      this.isFilter = false;
    },
    onSortOpen() {
      this.isModal = true;
      this.isPopup = true;
    },
    onFilterOpen() {
      this.isModal = true;
      this.isFilter = true;
    },
    onCartOpen() {
      this.isModal = true;
      this.isCart = true;
    },
    onBurgerOpen() {
      this.isBurger = true;
      this.isModal = true;
    },
  },
  computed: {
    ...mapGetters("products", [
      "getProductsList",
      "getProductsCount",
      "getFilters",
    ]),
  },
  mounted() {
    this.fetchPizza();
  },
};
</script>

<template>
  <div
    :class="{ 'app--modal': isModal && !isPopup, 'app--filter': isFilter }"
    class="app"
  >
    <HeaderBlock
      :isBurger="isBurger"
      :isModal="isModal"
      @onBurgerOpen="onBurgerOpen"
      @onCartOpen="onCartOpen"
    />
    <section class="products">
      <ol class="breadcrumb">
        <li class="breadcrumb__item">
          <a href="#" @click.prevent>Главная</a>
        </li>
        <li class="breadcrumb__item">
          <a href="#!" @click.prevent>Продукты</a>
        </li>
        <li class="breadcrumb__item">Краски</li>
      </ol>
      <SliderBlock />
      <ContainerComponent>
        <div class="products__wrapper">
          <h1 class="products__title">Краски</h1>
          <div class="products__left">
            <FilterBlock :filter="getFilters" />
          </div>
          <div class="products__right">
            <div class="products__top">
              <h2 class="products__caption">{{ getProductsCount }} товаров</h2>
              <a class="products__filter" href="#" @click.stop="onFilterOpen"
                >Фильтры</a
              >
              <SortBlock
                :isPopup="isPopup"
                @click="onSortOpen"
                @onClose="onClose"
              />
            </div>
            <div class="products__list">
              <ProductsItem
                v-for="item in getProductsList"
                :key="item.id"
                :item="item"
              />
            </div>
          </div>
        </div>
      </ContainerComponent>
    </section>
    <FooterBlock />
    <OverlayComponent :isModal="isModal" @onClose="onClose">
      <CartBlock :isCart="isCart" @onClose="onClose" @click.stop />
      <HeaderMobile :isBurger="isBurger" @onClose="onClose" />
      <div
        :class="{ 'filter-mobile--open': isFilter }"
        class="filter-mobile"
        @click.stop
      >
        <div class="filter-mobile__close" @click="onClose"></div>
        <FilterBlock :filter="getFilters" />
      </div>
    </OverlayComponent>
  </div>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

#app {
  font-family: "Inter", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.app {
  width: 100%;
  position: relative;

  &--modal {
    position: fixed;
    padding-right: 17px;
  }

  &--filter {
    padding: 0;
  }
}

.breadcrumb {
  position: absolute;
  top: 32px;
  left: 64px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 30px;
  list-style: none;
  z-index: 99;

  @media screen and (max-width: 1023px) {
    top: 16px;
    left: 24px;
  }

  @media screen and (max-width: 768px) {
    position: static;
    margin-top: 16px;
    margin-left: 24px;
    margin-bottom: 0;
  }

  &__item {
    position: relative;
    margin-left: 18px;
    color: #ffffff;
    opacity: 0.3;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    a {
      text-decoration: none;
      color: #ffffff;
      transition: ease all 0.2s;

      &:hover {
        opacity: 0.7;
      }
    }

    &::before {
      position: absolute;
      left: -10px;
      top: 3px;
      width: 3px;
      height: 3px;
      content: "";
      background-color: #ffffff;
      border-radius: 50%;
    }

    &:first-child {
      margin-left: 0;
    }

    &:first-child::before {
      display: none;
    }

    @media screen and (max-width: 768px) {
      color: #1f2020;

      a {
        color: #1f2020;
      }

      &::before {
        background-color: #1f2020;
        top: 4px;
      }
    }
  }
}

.products {
  position: relative;

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 8%;
    padding: 72px 0 141px;

    @media screen and (max-width: 768px) {
      display: block;
      padding: 48px 0 64px;
    }
  }

  &__title {
    display: none;
    font-size: 36px;
    line-height: 31.68px;
    font-weight: 400;
    letter-spacing: -0.04em;
    margin-bottom: 48px;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &__left {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__right {
    margin-left: auto;

    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;

    @media screen and (max-width: 1440px) {
      margin-bottom: 24px;
    }
  }

  &__caption {
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #1f2020;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__filter {
    display: none;
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-transform: uppercase;
    color: #1f2020;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px 18px;
    margin-bottom: -17px;

    &::after {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      height: 17px;
      background-color: #ffffff;
    }

    @media screen and (max-width: 1800px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 1440px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px 15px;
    }
  }
}

.filter-mobile {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  background-color: #ffffff;
  position: fixed;
  top: 160px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 24px;
  border-radius: 24px 24px 0px 0px;
  transition: ease all 0.3s;
  transform: translateY(100%);
  visibility: hidden;

  &--open {
    transform: translateY(0);
    visibility: visible;
  }

  &__close {
    margin-bottom: 38px;
    align-self: center;
    width: 28px;
    height: 4px;
    background-color: rgba(#1f2020, 0.6);
    border-radius: 40px;
  }
}
</style>
